#content
{
    margin: 20px 15% 0 15%; 
}

#content h1 
{
    color: #900;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-align: left;
}

#jpegPhoto {
    width: 200px;
    height: 200px;
    position:relative;
}

#login-form {
    background: #FFFFFF;
}

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}

@media screen and (max-width: 40.5em) {
    #content { margin: 20px 20px 0 20px }
}
