#content
{
    margin: 20px 15% 0 15%; 
    width: 70%
}

#content h1 
{
    color: #900;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-align: left;
}

#jpegPhoto {
    width: 200px;
    height: 200px;
    position:relative;
}

#login-form {
    background: #FFFFFF;
}

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}

.login-container {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.error {
    color: #8b1820;
}

@media screen and (max-width: 40.5em) {
    #content { margin: 10px 10px 0 10px }
    .login-container { position: absolute }
    .imgCropper { display: none }
}
