<IfModule mod_php5.c>
  php_value include_path ".:/var/www/common"
</IfModule>
<IfModule mod_php7.c>
  php_value include_path ".:/var/www/common"
</IfModule>

AddType image/vnd.microsoft.icon .ico
ExpiresActive on
ExpiresByType image/vnd.microsoft.icon "access plus 3 months"
